<div class="tools-container">

  <div class="left-nav-container">
    <a ng-class="{ active: activeTab.name == 'Boutique' }" ng-click="activeTab.name = 'Boutique'" class="left-nav-link"><i class="icon fa fa-th"></i>Boutique<i class="fa right-caret fa-caret-right"></i></a>
    <a ng-class="{ active: activeTab.name == 'Lookbook' }" ng-click="activeTab.name = 'Lookbook'" class="left-nav-link"><i class="icon fa fa-th-large"></i>Lookbook<i class="fa right-caret fa-caret-right"></i></a>
    <a ng-class="{ active: activeTab.name == 'Shop' }" ng-click="activeTab.name = 'Shop'" class="left-nav-link"><i class="icon fa fa-ellipsis-h"></i>Shop My Post<i class="fa right-caret fa-caret-right"></i></a>
    <a ng-class="{ active: activeTab.name == 'Photo' }" ng-click="activeTab.name = 'Photo'" class="left-nav-link"><i class="icon fa fa-circle-o"></i>Tagged Photo<i class="fa right-caret fa-caret-right"></i></a>
    <!-- <a ng-class="{ active: activeTab.name == 'LinkStar' }" ng-click="activeTab.name = 'LinkStar'" class="left-nav-link">LinkStar<i class="fa caret fa-caret-right"></i></a> -->
    <!-- <a ng-class="{ active: activeTab.name == 'iPhone' }" ng-click="activeTab.name = 'iPhone'" class="left-nav-link">iPhone App<i class="fa caret fa-caret-right"></i></a> -->
  </div>
  <div class="content-container">
    <!-- Boutique Tab -->
    <div class="tab-content" ng-show="activeTab.name == 'Boutique'">
      <div class="widget-options">
        <div class="presets">
          <a class="preset fa fa-square" ng-model="preset.name" btn-radio="'lookbook'" class="preset"></a>
          <a class="preset fa fa-th" ng-model="preset.name" btn-radio="'grid'" class="preset"></a>
          <a class="preset fa fa-ellipsis-h" ng-model="preset.name" btn-radio="'row'" class="preset"></a>
        </div>
        <div data-option="{{option.name.toLowerCase()}}" class="widget-option" ng-repeat="option in boutique.sortedOptions">
          <div class="name">{{option.name}}</div>
          <input ng-if="option.type == 'checkbox'" type="checkbox" ng-model="option.model">
          <span class="range-value" ng-if="option.type == 'range'">{{option.model}}</span>
          <input ng-if="option.type == 'range'" type="range" min="{{option.min}}" max="{{option.max}}" step="{{option.step}}" ng-model="option.model">
          <select ng-class="{ pink: option.name == 'Collection' }" dir="rtl" ng-if="option.type == 'select'" ng-model="option.model" ng-options="option for option in option.options"></select>
        </div>
        <div class="widget-option">
          <span class="name">Widget Size</span>
          <span class="widget-size">{{ boutique.containerSize.width + 60 }} x {{ boutique.containerSize.height }}</span>
        </div>

        <div class="share-embed">
          <div class="share-container">
            <div class="share-label">Share</div>
            <div class="share-buttons">
              <a ng-click="toolShare('facebook')" class="fa fa-facebook social-icon"></a>
              <a ng-click="toolShare('twitter')" class="fa fa-twitter social-icon"></a>
              <a ng-click="toolShare('tumblr')" class="fa fa-tumblr social-icon"></a>
<!--               <a ng-click="toolShare('blogger')" class="social-icon"><img class="social-icon-image" src="assets/images/blogger-logo.png"></a>
              <a ng-click="toolShare('wordpress')" class="social-icon"><img class="social-icon-image" src="assets/images/wordpress-logo.png"></a>
              <a ng-click="toolShare('squarespace')" class="social-icon"><img class="social-icon-image" src="assets/images/squarespace-logo.png"></a> -->
              <a ng-click="toolShare('pinterest')" class="fa fa-pinterest social-icon"></a>
              <a ng-click="toolShare('mail')" class="fa fa-envelope social-icon"></a>
            </div>
          </div>
          <div class="code-container">
            <div class="code-label">Embed</div>
            <!-- <textarea ng-click="clickEmbedCode($event)" ng-keypress="keypressEmbedCode($event)" class="code" ng-model="code"></textarea> -->
            <textarea ng-click="clickEmbedCode($event)" ng-keypress="keypressEmbedCode($event)" class="code">
<div data-ss-widget="grid" data-ss-widget-options='{ "columns": {{boutique.options.columns.model}}, "rows": {{boutique.options.rows.model}}, "showBrand": {{boutique.options.showBrand.model}}, "showInfo": {{boutique.options.showInfo.model}}, "showPrice": {{boutique.options.showPrice.model}}, "size": {{boutique.options.size.model}} } '></div>
<script src=""></script>
</textarea>
          </div>
        </div>
      </div>
      <!-- <div class="loading-icon" ng-class="{ show: state.loading }">✪</div> -->
      <div class="widget-preview" ng-class="{ fade: state.loading, nowrap: boutique.options.showInfo.model != 'Best Fit' }">
        <div ng-show="!selectedProducts.length" class="no-results center block well">You have no products selected! First search for products and click 'Add to Quicklist' to add items to your widget</div>

        <div data-ss-widget class="widget-wrapper" ng-style="{ width: boutique.containerSize.width + 80 + 'px', height: boutique.containerSize.height + 'px'}">
          <div class="widget-wrapper">
            <i ng-show="boutique.pages.length > 1" ng-class="{disabled: boutique.currentPage == 0}" class="fa fa-chevron-left previous-page" ng-click="navigateGallery('left')"></i>
            <i ng-show="boutique.pages.length > 1" ng-class="{disabled: boutique.currentPage == boutique.pages.length - 1}" class="fa fa-chevron-right next-page" ng-click="navigateGallery('right')"></i>
          </div>
          <div class="widget-wrapper">
            <div class="widget-container" ng-style="{ width: boutique.containerSize.width + 'px', height: boutique.containerSize.height + 'px' }">
              <div class="widget-scroller" ng-style="{ width: boutique.options.size.model * selectedProducts.length + 100 + 'px', height: boutique.containerSize.height + 'px', 'margin-left': '-' + (boutique.containerSize.width * boutique.currentPage) + 'px'}">
                <div ng-repeat="page in boutique.pages" ng-style="{ width: boutique.containerSize.width + 'px', height: boutique.containerSize.height + 'px'}" class="widget-page">
                  <div class="boutique-widget-span" ng-repeat="result in page">
                    <div ng-style="{ width: boutique.options.size.model + 'px', height: boutique.options.size.model + 'px' }" data-show-on-hover="{{boutique.options.showInfo.model}}" data-show-brand="{{boutique.options.showBrand.model}}" data-show-price="{{boutique.options.showPrice.model}}" class="widget-image boutique-widget">
                      <div class="image-container">
                        <img ng-src="{{result.image.sizes.Original.url}}">
                      </div>
                      <div class="details">
                        <div ng-if="boutique.options.showBrand.model" class="brand-name">{{result.brand.name}}</div>
                        <div ng-if="boutique.options.showPrice.model" class="retailer-name">{{result.salePriceLabel || result.priceLabel}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>