<div class="insights-container">
  <div class="left-navbar">
    <a data-ng-class="{ active: activeTab.name == 'earnings' }" data-ng-model="activeTab.name" btn-radio="'earnings'" class="left-nav-link">Earnings<i class="fa fa-caret-right"></i></a>
    <a data-ng-class="{ active: activeTab.name == 'payments' }" data-ng-model="activeTab.name" btn-radio="'payments'" class="left-nav-link">Payments<i class="fa fa-caret-right"></i></a>
    <a data-ng-class="{ active: activeTab.name == 'referalls' }" data-ng-model="activeTab.name" btn-radio="'referalls'" class="left-nav-link">Referrals<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="tab-content">
    <div data-ng-show="activeTab.name == 'earnings'" {{hbsShow "activeTab.name == 'earnings'"}} class="charts-container">
      <div class="row numbers">
        <div class="col-sm-3 col-xs-6">
          <div class="number">$10.55</div>
          <div class="number-label">Earned Today</div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="number">$34.50</div>
          <div class="number-label">Earned This Week</div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="number">$85.15</div>
          <div class="number-label">Earned This MOnth</div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="number">$100.00</div>
          <div class="number-label">Earned All Time</div>
        </div>
      </div>

      <div nvd3-line-chart id="nvEarningsChart" data="data.earningsData" resize="true" height="400" interactive="true" tooltips="true" showXAxis="true" showYAxis="true" xAxisOrient="bottom" tooltipcontent="toolTipContentFunction()" xAxisTickFormat="xAxisTickFormatFunction()"
      yAxisTickFormat="yAxisTickFormatFunction()" xAxisTickValues="xTickValues" yAxisTickValues="yTickValues" xAxisShowMaxMin="true">
        <div class="controls">
          <div class="earnings-type-switch">
            <div data-ng-class="{ active: controls.type == 'all' }" data-ng-click=" controls.type = 'all' " class="all-earnings type-option">All Earnings</div>
            <div data-ng-class="{ active: controls.type == 'social' }" data-ng-click=" controls.type = 'social' " class="social-earnings type-option">Social Earnings</div>
          </div>
          <div class="selector date-selector">
            <div class="selected">
              Last <span data-ng-bind="controls.date">{{controls.date}}</span> Days
            </div>
            <div class="selection">
              <div data-ng-class="{ active: controls.date == '3' }" data-ng-click=" controls.date = '3' ">
                Last 3 Days
              </div>
              <div data-ng-class="{ active: controls.date == '7' }" data-ng-click=" controls.date = '7' ">
                Last 7 Days
              </div>
              <div data-ng-class="{ active: controls.date == '30' }" data-ng-click=" controls.date = '30' ">
                Last 30 days
              </div>
            </div>
          </div>
        </div>

        <svg></svg>
      </div>
      <div class="series-selector">
        {{#forEach 'series' in data.earningsData}}
          <div data-ng-repeat="series in data.earningsData" class="series-container">

            <div data-ng-class="{inactive: series.disabled}" data-ng-click="toggleSeries(series)">
              <div class="series-color" style="background-color: {{series.color}}" data-ng-attr-style="background-color: &#123;&#123;series.color&#125;&#125;"></div>
              <div class="series-name"><span data-ng-bind="series.key">{{series.key}}</span>
              </div>
            </div>
          </div>
        {{/forEach}}

      </div>
      <h3 class="best-performers">
        <span class="text">Best Performers</span>
        <div class="selector date-selector">
        <div class="selected">
          Last <span data-ng-bind="controls.date">{{controls.date}}</span> Days
        </div>
        <div class="selection">
          <div data-ng-class="{ active: controls.date == '3' }" data-ng-click=" controls.date = '3' ">
              Last 3 Days
          </div>
          <div data-ng-class="{ active: controls.date == '7' }" data-ng-click=" controls.date = '7' ">
              Last 7 Days
          </div>
          <div data-ng-class="{ active: controls.date == '30' }" data-ng-click=" controls.date = '30' ">
              Last 30 days
          </div>
        </div>
      </div>

      </h3>
      <div class="row">
        <div class="col-md-4">
          <h4>Best Category</h4>
          <div nvd3-pie-chart data="data.best.categories" id="exampleId1" resize="true" width="354" height="360" x="xFunction()" y="yFunction()" showLegend="true" tooltips="true" tooltipcontent="toolTipBestContentFunction()" color="colorFunction()">
            <svg></svg>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Best Weekday</h4>
          <div nvd3-pie-chart data="data.best.weekDays" id="exampleId2" resize="true" width="354" height="360" x="xFunction()" y="yFunction()" showLegend="true" tooltips="true" tooltipcontent="toolTipBestContentFunction()" color="colorFunction()">
            <svg></svg>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Best Social Network</h4>
          <div nvd3-pie-chart data="data.best.socialNetworks" id="exampleId3" resize="true" width="354" height="380" x="xFunction()" y="yFunction()" showLegend="true" tooltips="true" tooltipcontent="toolTipBestContentFunction()" color="colorFunction()">
            <svg></svg>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h4>Top Brands</h4>
          <ul class="list-unstyled">
            {{#forEach 'brand' in data.best.brands|orderBy: '-y'}}
              <li class="top-list-item" data-ng-repeat="brand in data.best.brands|orderBy: '-y'">

                <a href="{{brand.url}}" target="_blank" data-ng-attr-href="&#123;&#123;brand.url&#125;&#125;">
                  <span class="name"><span data-ng-bind="brand.key">{{brand.key}}</span></span>
                </a>
                <span class="value">$<span data-ng-bind="brand.y">{{brand.y}}</span></span>
              </li>
            {{/forEach}}

          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Top Retailers</h4>
          <ul class="list-unstyled">
            {{#forEach 'retailer' in data.best.retailers|orderBy: '-y'}}
              <li class="top-list-item" data-ng-repeat="retailer in data.best.retailers|orderBy: '-y'">

                <a href="{{retailer.url}}" target="_blank" data-ng-attr-href="&#123;&#123;retailer.url&#125;&#125;">
                  <span class="name"><span data-ng-bind="retailer.key">{{retailer.key}}</span></span>
                </a>
                <span class="value">$<span data-ng-bind="retailer.y">{{retailer.y}}</span></span>
              </li>
            {{/forEach}}

          </ul>
        </div>
      </div>
    </div>

    <div data-ng-show="activeTab.name == 'payments'" {{hbsShow "activeTab.name == 'payments'"}} class="payments-container">
      <div class="padded">TODO...</div>
    </div>

    <div data-ng-show="activeTab.name == 'referalls'" {{hbsShow "activeTab.name == 'referalls'"}} class="referalls-container">
      <div class="padded">TODO...</div>
    </div>
  </div>
</div>